<%- include("_sidebar") -%>

<div id="content">

    <%- include("_navbar") -%>
    <form action="/admin/edit/<%= item.id %>" method="post">
        <div class=" form-group">
            <label for="exampleInputEmail1">Vehicle Name</label>
            <input type="text" class="form-control" name="name" value="<%= item.name %>">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Price</label>
            <input type="number" class="form-control" name="price" value="<%= item.price %>">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Capacity</label>
            <input type="number" class="form-control" name="capacity" value="<%= item.capacity %>">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include("_footer") -%>