<%- include("_sidebar") -%>

    <script src="/send_url.js"></script>
    <div id="content">

        <%- include("_navbar") -%>
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-head">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Manage <b>Vehicles</b></h2>
                            </div>
                            <div class="col-sm-6">
                                <a href="/admin/add" class="btn btn-success">
                                    <span>Add New Vehicle</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Capacity</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% items.forEach((item)=> { %>
                                <tr>
                                    <td>
                                        <%= item.name %>
                                    </td>
                                    <td>
                                        <%= item.price %>
                                    </td>
                                    <td>
                                        <%= item.capacity %>
                                    </td>
                                    <td><a href="/admin/edit/<%= item.id %>" class="btn btn-primary btn-sm active"
                                            role="button" aria-pressed="true">Update</a>
                                        <form action="/admin/delete/<%= item.id %>" method="post">
                                            <input type="submit" class="btn btn-danger btn-sm active" value="Delete">
                                        </form>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

    <%- include("_footer") -%>